<section class="appointment-section style-1">
    <div class="container">
        <div class="section-wrapper">
            <div class="appointment-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="time-info">
                    <div class="al-title">
                        <h2><span>24 Hours </span></h2>
                        <h2>Opening Our Services</h2>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Saturday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Sunday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Monday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Tuesday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Wednesday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Thursday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Friday</div>
                            <div class="day-time">8:00 am-8:00 pm</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appointment-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="ar-title">
                    <h2><span>Make An</span></h2>
                    <h2>Appointment Now</h2>
                </div>
                <form action="/" method="post">
                    <input type="text" id="fname" name="firstname" placeholder="Your Name">
                    <select id="country" name="country">
                        <option value="adult">Adult</option>
                        <option value="induvial">individual</option>
                        <option value="Pre Marital">Pre Marital</option>
                        <option value="Geriatric">Geriatric</option>
                        <option value="Geriatric">Geriatric</option>
                        <option value="Students ">Students </option>
                        <option value="Family ">Family </option>
                      
                    </select>
                    <input type="text" id="lname" name="lastname" placeholder="Phone Number">
                    <input type="date" id="start" name="trip-start" value="2021-02-21">
                    <button class="lab-btn" type="submit"><span>Appointment Now <i
                                class="icofont-double-right"></i></span> </button>
                </form>
            </div>
        </div>
    </div>
</section>