<section class="appointment-section style-1">
    <div class="container">
        <div class="section-wrapper">
            <div class="appointment-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="time-info">
                    <div class="al-title">
                        <h2><span>24 Hours </span></h2>
                        <h2>Opening Our Services</h2>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Satarday</div>
                            <div class="day-time">8:00 am-10:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Sunday</div>
                            <div class="day-time">6:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Monday</div>
                            <div class="day-time">6:00 am-2:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Tuesday</div>
                            <div class="day-time">7:00 am-9:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Widnessday</div>
                            <div class="day-time">10:00 am-12:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Thirsday</div>
                            <div class="day-time">2:00 am-6:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Friday</div>
                            <div class="day-time">Closed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appointment-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="ar-title">
                    <h2><span>Make An</span></h2>
                    <h2>Appointment Now</h2>
                </div>
                <form action="http://labartisan.net/">
                    <input type="text" id="fname" name="firstname" placeholder="Your Name">
                    <select id="country" name="country">
                        <option value="1">Select Departments</option>
                        <option value="2">Dental</option>
                        <option value="3">U.C</option>
                    </select>
                    <input type="text" id="lname" name="lastname" placeholder="Phone Number">
                    <input type="date" id="start" name="trip-start" value="2021-02-21">
                    <button class="lab-btn" type="submit"><span>Appointment Now <i
                                class="icofont-double-right"></i></span> </button>
                </form>
            </div>
        </div>
    </div>
</section>