<section style="background: linear-gradient(267deg, #3BAFBF, transparent);" class="certificat-section padding-tb">
    <div class="container">
        <div style="align-items: center; " class="row">
            <div class="col-12 col-lg-6">
                <div class="certificate-content">
                    <h2 style="opacity: 0;">ssss </h2>
                    <h2 >Our Certifications</h2>
                    <p>Our courses are approved and certified by Indira Gandhi National Education Trust (IGNET). This is globally approved and this certificate helps you in landing a government jobs.                                        </p>
                    <p>IGNET is an ISO 9001:2015 certified national development agency and an independent government registered human resource training institute. of India (Registration No. 591/04/IV) is engaged in education, research and dialogue with society. More than 1 million students in more than 500 training centers across India. IGNET stands out for its innovative educational model, global character and multidisciplinary approach to education. IGNET plays a leading role in the development of technical, technological, health and business education in India and actively participates in the latest technological developments in all areas, keeping pace with industrial development, local and regional economy and culture. national level..</p>
                    <a style="border-radius: 10px;" href="https://ignetonline.org/index" class="lab-btn"><span>Learn More about IGNET <i
                                class="icofont-double-right"></i></span></a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="certificats-site">
                    <div class="row no-gutters d-flex align-items-center  justify-content-end ">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="certificate-item-inner">
                                <div class="certificate-thumb">
                                    <img src="https://ignetonline.org/assets/img/logo.png" alt="certificat">
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>