<section class="footer-section style-1">
    <div class="container">
        <div class="section-wrapper">
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="contact-info">
                            <h3>Contact Info</h3>
                            <p>Call, Whatsapp or mail us if you have any questions or would like to book an appointment. You may also use the contact form on the right to reach out to us.</p>
                            <ul class="lab-ul">
                                <li><i class="icofont-home text-capitalize "></i> Cv Brothers Complex, ponnani, kerala, india </li>
                                <li><i class="icofont-phone"></i> <a href="callto:+917510404010">+917510404010</a></li>
                                <li><i class="icofont-envelope"></i> <a href="mailto:dishacvjn@gmail.com"> dishacvjn@gmail.com</a></li>
                                <li><i class="icofont-globe"></i> <a href="https://dishacounselling.in"> dishaschoolofcounslling.in</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="doctor-info mb-5 mb-sm-0">
                            <h3>Our Doctors</h3>
                            <ul class="lab-ul">
                                <li><i class="icofont-double-right text-capitalize "></i><a > psy. Cv khaleel Rahman</a></li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >psy.  Tito Cherian</a></li>
                                <li><i class="icofont-double-right text-capitalize "></i><a > Psy. Sithara Vijayan</a></li>
                                <li><i class="icofont-double-right text-capitalize "></i><a > Psy. Farsana Rahim</a></li>
          
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="service-info  mb-5 mb-sm-0">
                            <h3>Our Services</h3>
                            <ul class="lab-ul">
                                <li><i class="icofont-double-right text-capitalize "></i><a >Family counselling </a></li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >individual counselling </a></li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >students counselling </a>
                                </li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >De-Addiction counselling </a>
                                </li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >Geriatric counselling </a>
                                </li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >Adolescent counselling </a>
                                </li>
                                <li><i class="icofont-double-right text-capitalize "></i><a >Pre Marital counselling </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="time-info">
                            <h3>opening hours</h3>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Saturday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Sunday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Monday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Tuesday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Wednesday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Thursday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                            <div class="dep-item">
                                <div class="dep-item-inner d-flex justify-content-between">
                                    <div class="day-name">Friday</div>
                                    <div class="day-time">8:00 am-8:00 pm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <span>Copyright &copy; 2024 <a href="">InfoA</a>. Designed by <a
                            href="">InfoA</a></span>
                </div>
            </div>
        </div>
    </div>
</section>