
    <!-- All Scripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/circularProgressBar.min.js"></script>
    <script src="/js/hc-offcanvas-nav.js"></script>
    <script src="/js/functions.js"></script>
</body>


<!-- Mirrored from labartisan.net/demo/mukti/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2024 05:23:20 GMT -->
</html>