<div class="mobile-menu">
    <div class="container">
        <div class="mobile-menu-wrapper">
            <div style="width: 10rem;" class="logo">
                <a  href="index.html">
                    <img  style="object-fit: cover; height: 100%;" src="/images/orginal/WhatsApp Image 2024-05-04 at 4.47.04 PM.jpeg" alt="Mukti">
                </a>
            </div>
            <div class="open-menu"><i class="icofont-navigation-menu"></i></div>
        </div>
        <nav id="mobile-nav">
            <ul class="home-nav">
                <a href="/home">Home</a>
            </ul>
            <ul class="depart-nav">
                <a href="/service">Services</a>
            </ul>
            <ul class="doctor-nav">
                <a href="/about">About Us</a>
            </ul>
            <ul class="service-nav">
                <a href="/contact">Contact-us</a>
            </ul>
          
        </nav>
    </div>
</div>