<header class="header-section d-none d-lg-block">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center px-15">
                <div class="header-logo">
                    <a href="index.html" style="width: 10rem;" class="logo"><img style="object-fit: cover;  height: 100%;" src="/images/orginal/WhatsApp Image 2024-05-04 at 4.47.04 PM.jpeg " alt="logo"></a>
                </div>
                <ul class="header-contact-info d-flex align-items-center">
                    <li class="item">
                        <div class="item-inner">
                            <div class="item-thumb">
                                <img src="/images/header/1.png" alt="">
                            </div>
                            <div class="item-content">
                                <span>Number :</span>
                                <p><a href="callto:+917510404010">+917510404010</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-inner">
                            <div class="item-thumb">
                                <img src="/images/header/2.png" alt="">
                            </div>
                            <div class="item-content">
                                <span>Email :</span>
                                <p><a href="mailto:dishacvjn@gmail.com"> dishacvjn@gmail.com</a></p>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <nav class="container">
            <div class="primary-menu">
                <div class="menu-area">
                    <div class="row justify-content-between px-15">
                        <ul class="main-menu d-flex">
                            <li>
                                <a href="/home">Home</a>
                            
                            </li>
                            <li>  <a href="/service">Services</a></li>
                            <li  >  <a href="/course">Course</a></li>
                            <li><a href="/about">About Us</a>
                            </li>
                           
                            <li>     <a href="/contact">Contact Us</a>
                                
                            </li>
                       
                        </ul>
                        <ul class="main-menu d-flex">
                            <li>
                                <a href="/contact"><i class="ri-phone-line"></i>  +91-75 10 4040 10</a>
                            
                            </li>
                            <li>
                                <a href="/contact"><i class="ri-mail-open-line"></i> dishacvjn@gmail.com </a>
                            
                            </li>
                            
                       
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>