<header class="header-section d-none d-lg-block">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center px-15">
                <div class="header-logo">
                    <a href="index.html" style="width: 10rem;" class="logo"><img style="object-fit: cover;  height: 100%;" src="/images/orginal/WhatsApp Image 2024-05-04 at 4.47.04 PM.jpeg " alt="logo"></a>
                </div>
                <ul class="header-contact-info d-flex align-items-center">
                    <li class="item">
                        <div class="item-inner">
                            <div class="item-thumb">
                                <img src="/images/header/1.png" alt="">
                            </div>
                            <div class="item-content">
                                <span>Number :</span>
                                <p>+917510404010</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-inner">
                            <div class="item-thumb">
                                <img src="/images/header/2.png" alt="">
                            </div>
                            <div class="item-content">
                                <span>Email :</span>
                                <p>dishacvjn@gmail.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-inner">
                            <div class="item-thumb">
                                <img src="/images/header/3.png" alt="">
                            </div>
                            <div class="item-content">
                                <span>Address :</span>
                                <p>ponnani</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <nav class="container">
            <div class="primary-menu">
                <div class="menu-area">
                    <div class="row justify-content-between px-15">
                        <ul class="main-menu d-flex">
                            <li class="active">
                                <a href="#">Home</a>
                            
                            </li>
                            <li>  <a href="/service">Services</a></li>
                            <li><a href="/about">About Us</a>
                            </li>
                           
                            <li>     <a href="/contact">Contact-us</a>
                                
                            </li>
                       
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>