   <!-- ==========Service Section Start Here========== -->
   <section class="service-section style-1 padding-tb bg-color">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <h2><span>We Are</span></h2>
            <h2>Offering Reliable Services</h2>
        </div>
        <div class="section-wrapper">
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="service-inner">
                    <div style="    border-radius: 15px 15px 0 0;" class="service-thumb">
                        <img src="/images/service/01.jpg" alt="service">
                    </div>
                    <div style="    border-radius: 0 15px 0 0;" class="service-content">
                        <h4><a href="/contact">Family & Couple Counselling</a></h4>
                        <p>Enhance strained connections with your partner or other family members. Our effective approach to family and couples therapy aids those experiencing challenges that impact their mental health and overall well-being.</p>
                        <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Read More <i
                            class="icofont-rounded-double-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img  src="/images/orginal/pexels-matthiaszomer-339620 (1).jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="/contact">MENTAL HEALTH COUNSELLING
                        </a></h4>
                        <p>We provide effective treatment without medicine .</p>
                        <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Read More <i
                                    class="icofont-rounded-double-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="/images/service/03.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="/contact">ADOLESCENT COUNSELLING</a></h4>
                        <p>The pre-teen and teenage years can be especially difficult for both child and parents.</p>
                        <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Read More <i
                                    class="icofont-rounded-double-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="service-inner">
                    <div style="    border-radius: 15px 15px 15px 15px;" class="service-thumb">
                        <img src="/images/orginal/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9VWHg5OC9NQUdFdXpVWHg5OC8xL3AuanBn.webp" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="/contact">Individual Counselling</a></h4>
                        <p>Help your children to navigate, when they face a rough time in life. The Child and Adolescent counselling deals with children and adolescents, helping them to open up their difficulties or secrets in mind. The counsellor understands the root cause of the problem, and guide them to solve the issue completely.</p>
                        <a href="/contact" style="border-radius: 10px;" class="lab-btn"><span>Read More <i
                                    class="icofont-rounded-double-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Service Section Ends Here========== -->